@use '../../utils/mixin' as *;

.titulo-contacto{
    font-weight: bold;
    font-size: 2.5rem;
    font-style: italic;
}

.contacto__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include respond-to(desktop){
        padding-bottom: 20px;
    }
        .contacto__form__label{
            font-weight: bold;
            font-size: 1.2rem;
            margin: 20px 0px 0px 0px;
        }

        .contacto__form__inputText,
        .contacto__form__button{
            width: 70%;
            height: 30px;
            text-align: center;

            @include respond-to(desktop){
                width: 50%;
                height: 40px;
            }
        }

        .contacto__form__textArea{
            width: 70%;
            height: 100px;
            margin-bottom: 10px;
            padding: 5px;

            @include respond-to(desktop){
                width: 50%;
                height: 120px;
            }
        }

        .captcha-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            overflow: hidden;
            margin-bottom: 10px;

            .captcha {
                transform: scale(0.85);
            }

            @include respond-to(tablet) {
                .captcha {
                    transform: scale(1);
                }
            }
        }


        .contacto__form__button{
            cursor: pointer;
        }
}
