@use '../../utils/variables' as v;
@use '../../utils/mixin' as *;
@use '../../utils/keyframe' as *;

.container-login{
    @include flex(center, center, row);
    width: 100%;
    height: 100%;

    @include respond-to(tablet){
        height: auto;
        width: auto;

    }

    .login{
        display: flex;
        justify-content: center;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        width: 100%;
        max-height: 80vh;
        margin: 20px 0px;
        background-color: v.$color-background-light-footer;

        @include respond-to(tablet){
            width: 100%;
            align-items: center;
            align-self: center;
        }

        @include respond-to(desktop){
            width: 80%;

        }

        .login__img{
            display: none;

            @include respond-to(tablet){
                padding: 20px;
                border-right: 1px solid black;
                display: block;
                width: 60vw;
                max-height: 60vh;
            }
        }

        .login__form{
            padding: 10px;
            @include flex(center, center, column);
            gap: 10px;

            @include respond-to(tablet){
                width: 40vw;
            }

            input{
                text-align: center;
                width: 80%;
            }

            button{
                cursor: pointer;
                border: 1px solid black;
                background-color: rgb(213, 208, 208);
                width: 80%;
                font-weight: bold;

                &:hover{
                    background-color: rgb(162, 157, 157);
                }
            }

            .login__extra{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
