@use '../../utils/mixin' as *;
@use '../../utils/variables' as v;

.titulo-registro{
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
}

.register-form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    @include respond-to(tablet){
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .campo{
        display: flex;
        flex-direction: column;
        width: 80%;

        @include respond-to(tablet){
            width: 100%;

        }
        &.dos_columnas{
            @include respond-to(tablet){
                grid-column: span 2;
            }
        }

        &.tres_columnas{
            @include respond-to(tablet){
                grid-column: span 3;
            }
        }

        label{
            font-weight: bold;
            font-style: italic;
        }

        input,
        select,
        textarea{
            padding: 10px;
            font-size: 16px;
            border: 1px solid #bbb;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
            background: #fff;
            color: v.$color-font-light;
            text-align: center;
        }
    }

    .btn-registro{
        align-self: center;
        grid-column: 1 / -1;
        padding: 12px 28px;
        border: 1px solid black;
        border-radius: 4px;
        background: v.$color-font-light;
        color: v.$color-background-light;
        font-weight: bold;
        cursor: pointer;
        margin-top: 5px;
        text-decoration: none;
            &:hover{
                background-color: black;
            }

            @include respond-to(tablet){

                justify-self: center;
                width: auto;
            }

    }


}